<h1><%= @board.name %></h1>

<h2>Posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= post.title %></li>
  <% end %>
</ul>

<h2>Add a new post</h2>

<%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "Body" %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.label :expires_on, "Expires on" %>
    <%= f.date_field :expires_on %>
  </div>

  <%= f.hidden_field :board_id, value: @board.id %>

  <button type="submit">Add post</button>
<% end %>
